<link rel='stylesheet' href='/stylesheets/style.css' />

<link rel='stylesheet' href='/stylesheets/navigation.css' />
<div class="app-nav">
    <nav>
        <ul>
            {{!-- HOME --}}
            <li>
                <a>
                    <i class="fa fa-home"></i>
                    <div>
                        Home
                    </div>
                </a>
            </li>
            {{!-- ABOUT --}}
            <li>
                <a>
                    <i class="fa fa-user"></i>
                    <div>
                        About
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>