.app-nav {
    background-color: #0ed2c0;

    ul {
        list-style-type: none;
        display: flex;

        li {
            margin: 0rem 2rem;
            text-align: center;
            font-size: 1.5rem;

            a {
                transition: all 0.05s linear;
                transition:  0.05s linear;
                color: inherit;
                text-decoration: none;
                cursor: pointer;

                i {
                    font-size: 4rem;
                    transform: inherit;
                    transition: inherit;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}